@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    color: #000aff;
    /* color: black; */
    /* background-color: #f6ec81; */
}

::selection {
    background-color: #000aff;
    color: white;
  }

html {
    font-family: 'Space Mono', monospace;
    background-color: white;
}

img{
    color: #000aff;
    /* background-color: #f6ec81; */
}



  