@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    color: black;
    /* color: black; */
    /* background-color: #f6ec81; */
}

::selection {
    background-color: black;
    color: white;
  }

html {
    font-family: 'Space Mono', monospace;
    background-color: white;
}

img{
    /* color: #000aff; */
    color: black;
    /* background-color: #f6ec81; */
}


/* Hide the browser’s built-in disclosure triangle */
summary::-webkit-details-marker {
    display: none;
  }
  summary::marker {
    display: none;
  }
/*   
details[open] .summary-icon {
    transform: rotate(90deg);
  } */

  